
.form_cajas {
    margin: 6px;
    padding:5px 10px;
}

select {
    width: 200px;
    margin: 6px;
    padding:4px 24px; 
}

table{
    margin: 25px;
}

.tit_cajasedit {
    margin-top: 15px;
    margin-left: 150px;
    margin-bottom: 2px; 
    font-size: 2em; 
    font-weight: bold;
}

img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
}